[submodule "resources/[local]/ball"]
	path = resources/[local]/ball
	url = https://github.com/kibook/redm-ball
	branch = master
[submodule "resources/[local]/ballooncontrols"]
	path = resources/[local]/ballooncontrols
	url = https://github.com/kibook/redm-ballooncontrols
	branch = master
[submodule "resources/[local]/callbacks"]
	path = resources/[local]/callbacks
	url = https://github.com/kibook/callbacks
	branch = master
[submodule "resources/[local]/blips"]
	path = resources/[local]/blips
	url = https://github.com/kibook/redm-blips
	branch = master
[submodule "resources/[local]/carry"]
	path = resources/[local]/carry
	url = https://github.com/kibook/redm-carry
	branch = master
[submodule "resources/[local]/credits"]
	path = resources/[local]/credits
	url = https://github.com/kibook/credits
	branch = master
[submodule "resources/[local]/coreupgrades"]
	path = resources/[local]/coreupgrades
	url = https://github.com/kibook/redm-coreupgrades
	branch = master
[submodule "resources/[local]/discord_rest"]
	path = resources/[local]/discord_rest
	url = https://github.com/kibook/discord_rest
	branch = master
[submodule "resources/[local]/discord_rich"]
	path = resources/[local]/discord_rich
	url = https://github.com/kibook/discord_rich
	branch = master
[submodule "resources/[local]/doors"]
	path = resources/[local]/doors
	url = https://github.com/kibook/redm-doors
	branch = master
[submodule "resources/[local]/doorsearch"]
	path = resources/[local]/doorsearch
	url = https://github.com/kibook/redm-doorsearch
	branch = master
[submodule "resources/[local]/emotes"]
	path = resources/[local]/emotes
	url = https://github.com/kibook/redm-emotes
	branch = master
[submodule "resources/[local]/events"]
	path = resources/[local]/events
	url = https://github.com/kibook/redm-events
	branch = master
[submodule "resources/[local]/fixanimals"]
	path = resources/[local]/fixanimals
	url = https://github.com/kibook/redm-fixanimals
	branch = master
[submodule "resources/[local]/flintlock"]
	path = resources/[local]/flintlock
	url = https://github.com/kibook/redm-flintlock
	branch = master
[submodule "resources/[local]/freecam"]
	path = resources/[local]/freecam
	url = https://github.com/kibook/redm-freecam
	branch = master
[submodule "resources/[local]/guarma"]
	path = resources/[local]/guarma
	url = https://github.com/kibook/redm-guarma
	branch = master
[submodule "resources/[local]/handsup"]
	path = resources/[local]/handsup
	url = https://github.com/kibook/redm-handsup
	branch = master
[submodule "resources/[local]/httpmanager"]
	path = resources/[local]/httpmanager
	url = https://github.com/kibook/httpmanager
	branch = master
[submodule "resources/[local]/ipls"]
	path = resources/[local]/ipls
	url = https://github.com/kibook/redm-ipls
	branch = master
[submodule "resources/[local]/iplsearch"]
	path = resources/[local]/iplsearch
	url = https://github.com/kibook/redm-iplsearch
	branch = master
[submodule "resources/[local]/instruments"]
	path = resources/[local]/instruments
	url = https://github.com/kibook/redm-instruments
	branch = master
[submodule "resources/[local]/interactions"]
	path = resources/[local]/interactions
	url = https://github.com/kibook/redm-interactions
	branch = master
[submodule "resources/[local]/eagleeye"]
	path = resources/[local]/eagleeye
	url = https://github.com/kibook/redm-eagleeye
	branch = master
[submodule "resources/[local]/lightning-attacks"]
	path = resources/[local]/lightning-attacks
	url = https://github.com/kibook/redm-lightning-attacks
	branch = logmanager
[submodule "resources/[local]/logmanager"]
	path = resources/[local]/logmanager
	url = https://github.com/kibook/logmanager
	branch = master
[submodule "resources/[local]/moonshineshacks"]
	path = resources/[local]/moonshineshacks
	url = https://github.com/kibook/redm-moonshineshacks
	branch = master
[submodule "resources/[local]/mount"]
	path = resources/[local]/mount
	url = https://github.com/kibook/redm-mount
	branch = master
[submodule "resources/[local]/noclip"]
	path = resources/[local]/noclip
	url = https://github.com/kibook/redm-noclip
	branch = master
[submodule "resources/[local]/notifications"]
	path = resources/[local]/notifications
	url = https://github.com/kibook/redm-notifications
	branch = master
[submodule "resources/[local]/playermanager"]
	path = resources/[local]/playermanager
	url = https://github.com/kibook/playermanager
	branch = master
[submodule "resources/[local]/pmms"]
	path = resources/[local]/pmms
	url = https://github.com/kibook/pmms
	branch = master
[submodule "resources/[local]/poodlechat"]
	path = resources/[local]/poodlechat
	url = https://github.com/kibook/poodlechat
	branch = logmanager
[submodule "resources/[local]/pvp"]
	path = resources/[local]/pvp
	url = https://github.com/kibook/redm-pvp
	branch = master
[submodule "resources/[local]/ragdoll"]
	path = resources/[local]/ragdoll
	url = https://github.com/kibook/redm-ragdoll
	branch = master
[submodule "resources/[local]/rcboat"]
	path = resources/[local]/rcboat
	url = https://github.com/kibook/redm-rcboat
	branch = master
[submodule "resources/[local]/resourcemanager"]
	path = resources/[local]/resourcemanager
	url = https://github.com/kibook/resourcemanager
	branch = master
[submodule "resources/[local]/respawn"]
	path = resources/[local]/respawn
	url = https://github.com/kibook/redm-respawn
	branch = logmanager
[submodule "resources/[local]/scalesync"]
	path = resources/[local]/scalesync
	url = https://github.com/kibook/redm-scalesync
	branch = master
[submodule "resources/[local]/sidesaddle"]
	path = resources/[local]/sidesaddle
	url = https://github.com/kibook/redm-sidesaddle
	branch = master
[submodule "resources/[local]/spooner"]
	path = resources/[local]/spooner
	url = https://github.com/kibook/spooner
	branch = master
[submodule "resources/[local]/tags"]
	path = resources/[local]/tags
	url = https://github.com/kibook/redm-tags
	branch = master
[submodule "resources/[local]/uifeed"]
	path = resources/[local]/uifeed
	url = https://github.com/kibook/redm-uifeed
	branch = master
[submodule "resources/[local]/uiprompt"]
	path = resources/[local]/uiprompt
	url = https://github.com/kibook/redm-uiprompt
	branch = master
[submodule "resources/[local]/undead"]
	path = resources/[local]/undead
	url = https://github.com/kibook/redm-undead
	branch = escalera
[submodule "resources/[local]/weathersync"]
	path = resources/[local]/weathersync
	url = https://github.com/kibook/weathersync
	branch = master
[submodule "resources/[local]/webmap"]
	path = resources/[local]/webmap
	url = https://github.com/kibook/webmap
	branch = master
[submodule "resources/[local]/[objectloader]"]
	path = resources/[local]/[objectloader]
	url = https://github.com/kibook/redm-objectloader
	branch = master
[submodule "resources/[local]/popdensity"]
	path = resources/[local]/popdensity
	url = https://github.com/kibook/popdensity
	branch = master
[submodule "resources/[local]/server_restart"]
	path = resources/[local]/server_restart
	url = https://github.com/kibook/server_restart
	branch = poodles-palace-redm
