# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "[::]:30120"
endpoint_add_udp "[::]:30120"

# Permissions
exec permissions.cfg

# MySQL
set mysql_connection_string "mysql://fivem@localhost/fivem"
start oxmysql

# Default Cfx resources
start mapmanager
#start chat
start spawnmanager
start sessionmanager
start fivem
#start hardcap
#start rconlog
#start scoreboard
start baseevents

# Libraries
start NativeUI
start warmenu

# Essential custom resources
start discord_rest
start discord_roles
start logmanager
start loadscreen
start callbacks
start playermanager
start resourcemanager
start poodlechat
start vMenu
start popdensity
start spooner
start pmms
start credits
start httpmanager
start discord_rich
start webmap
start custom_blips
start scenarios
start server_restart
start weathersync

# Additional resources
exec resources.cfg

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 1

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password ""

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "freeroam"
sets Discord "discord.gg/7V2HVeB"
sets Website "https://fivem.khzae.net"

# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
sets locale "en-CA"
# please DO replace root-AQ on the line ABOVE with a real language! :)

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

# Set your server's hostname
sv_hostname "Poodle's Palace"

# Server browser details
sets sv_projectName "Poodle's Palace"
sets sv_projectDesc "Poodle's freeroam server"

# Loading a server icon (96x96 PNG file)
load_server_icon icon.png

# Uncomment this line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
#sv_master1 ""

# Hide player endpoints in external log output.
sv_endpointprivacy true

# enable OneSync with default configuration (required for server-side state awareness)
set onesync on

# Server player slot limit (must be between 1 and 32, unless using OneSync)
sv_maxclients 32

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey "none"

# Tebex key
sv_tebexSecret ""

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey changeme

# Which game this server is for (gta5 or rdr3)
set gamename gta5

# Set the DLC level of the server
set sv_enforceGameBuild 2372
